{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
Fase 4 Questionario
<p></p>
<p></p>
<p> Attività agricole 2 <p></p>
{% endblock %}

{% block content %}

{% formfield 'q12' %}
{% formfield 'q13' %}
{% formfield 'q14' %}
{% formfield 'q15' %}


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}