{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2> FAMILIARIZZARE CON LO STRUMENTO </h2>

{% endblock %}
{% block content %}
<div class="w3-container border-top border-bottom">
</div>
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<script type="text/javascript" src="{% static "global/farmerchoice.js" %}"></script>

<style>
</style>

<p><h4>
</h4></p>
<p><h5> Dopo aver assegnato tutti i gettoni potrete cliccare sul tasto INVIA per proseguire.</h5></p>


<div id = "full_div">
</div>

{% endblock %}

{% block scripts %}

<script>
// Some initial globals

let belief_dat = {{beliefs|json}};
beliefs_ns.mkview(belief_dat, "full_div", results = 0, show_submit = 1);

</script>

{% endblock %}
