{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2> La sua scelta: Esempio 1 </h2>

{% endblock %}
{% block content %}
<div class="w3-container border-top border-bottom">
	<p></p>
		<link rel="stylesheet" href="{% static "global/empty3.css" %}">

		<img src="{%static 'Fase1/example1.jpg' %}"  align="middle" width="100%"/>
		<p></p>
<ul>
	<li> Se ad esempio è certo che il reddito ad ettaro da mele nel 2022 varierà rispetto alla media tra +1% e +10%,
	allora vorrà assegnare buona parte dei gettoni all'intervallo <b> +0% • +5%</b> . </li>
	<p></p>
	<li> Potrebbe assegnare 100 gettoni a questo intervallo. </li>
	<p></p>
</ul>
</div>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
