{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3> VEDIAMO ALCUNI ESEMPI </h3>

{% endblock %}
{% block content %}
<div class="w3-container border-top border-bottom">
	<p></p>
	<ul>
	<li> Se è certo che il reddito ad ettaro da mele nel 2022 varierà rispetto alla media tra +1% e +10%,
	allora vorrà assegnare buona parte dei gettoni all'intervallo <b> +1% • +10%</b> . </li>
</ul>

<link rel="stylesheet" href="{% static "global/empty.css" %}">
		<img src="{%static 'Fase1/example1a.jpg' %}"  align="middle" width="100%"/>
		<p></p>
</div>


{% endblock %}
