{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h5> Come assegnare i punti </h5>

{% endblock %}
{% block content %}
<div class="w3-container border-top ">
	<ul>
	<p></p>
	<li> Dovrà assegnare i 10 punti in modo che la scelta con più punti sia quella che maggiormente riflette la sua opinione.</li>
	<p></p>
	<li> Assegnando un numero maggiore di punti ad una scelta, questa avrà più probabilità di essere estratta. </li>
</ul>

	<p></p>
	    &nbsp;
	    	<img src="{%static 'Fase1/slider1.jpg' %}"  align="middle" width="35%"/>
	<img src="{%static 'Fase1/examplea.jpg' %}"  align="middle" width="100%"/>
&nbsp;
<div class="w3-container border-top border-bottom">
	<p></p>
	    &nbsp;
	    &nbsp;	<img src="{%static 'Fase1/slider2.jpg' %}"  align="middle" width="35%"/>
	<img src="{%static 'Fase1/exampleb.jpg' %}"  align="middle" width="100%"/>
	&nbsp;
</div>
<p></p>
	    &nbsp;
	    &nbsp;	<img src="{%static 'Fase1/slider3.jpg' %}"  align="middle" width="35%"/>

	<img src="{%static 'Fase1/examplec.jpg' %}"  align="middle" width="100%"/>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>
</div>


{% endblock %}