{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3> Estrazione della scelta</h3>

{% endblock %}
{% block content %}

<div class="w3-container border-top border-bottom">
	<p></p>
		<img src="{%static 'Fase1/bag3.jpg' %}"  align="right" height="250"/>
	<p>In questo caso sono stati assegnati:</p>
<ul>
	<p></p>
	<li> 100 punti alla <span style="color:red; font-weight:bold"> “SCELTA 1” </span> </li>
	<p></p>
	<li> 0 punti alla  <span style="color:blue;font-weight:bold"> “SCELTA 2”</span> </li>
	<p></p>
	<li> 0 punti alla scelta <span style="color:green;font-weight:bold"> “SCELTA 3”</span></li>
	<p></p>
	</ul>
	<p> In base ai punti assegnati verrà estratta la Scelta 1. </p>
</div>


<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
