{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h3>Ripetere l'allocazione dei gettoni</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul style="align:justify">
    <li> Comprendiamo che la domanda è complessa perciò vi diamo la possibilità di ripetere l'allocazione dei gettoni.</li>
    <p></p>
    <li>Dopo aver allocato i gettoni, vi diamo la possibilità di procedere con un'altra allocazione, come mostrato come in figura.</li>
<p></p>
    <li>Se pensate che l'allocazione rispecchia accuratamente la vostra opinione allora non procedete con un'ulteriore allocazione.</li>
    <p></p>
     <li>Se pensate che l'allocazione non rispecchia accuratamente la vostra opinione allora procedete con un'ulteriore allocazione.</li>
    <p></p>
    <li> Potrete allocare i gettoni fino ad un massimo di 3 volte.</li>
<p></p>
</ul>
</div>
<p></p>
        <img src="{%static 'Fase1/repeat.jpg' %}"  width="100%" HEIGHT="100%" align="middle"/>
        <img src="{%static 'Fase1/examplea.jpg' %}"  width="100%" HEIGHT="100%" align="middle"/>

<p></p>

<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}