{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h3>Le vostre preferenze per le allocazioni</h3>
<p />
<div class="w3-container border-bottom border-top">
    <p></p>
   <ul>
       <li>Se avete assegnato i gettoni più di una volta, vi mostreremo le vostre allocazioni.</li></p>
       <p> </p>
    <li><b>Per procedere alla quantificazione dei suoi guadagni, vi chiediamo di esprimere una preferenza da 1 a 10 per ciascuna delle sue allocazioni.</b></li>
    <p> </p>
       <li>Dove 1 significa che l'allocazione di gettoni rispecchia poco la vostra opinione e 10 significa che rispecchia molto la vostra opinione riguardo la futura variazione di reddito.</li>
       <p></p>
       <li>Per assegnare questo punteggio dovrete muovere il cursore posto accanto a ciascuna distribuzione, come in figura.</li>
       <p></p>
</ul>
</div>
<div class="w3-container border-bottom border-top">
    <p></p>
    &nbsp;	<img src="{%static 'Fase1/slider1.jpg' %}"  align="middle" width="35%"/>
	<img src="{%static 'Fase1/examplea.jpg' %}"  align="middle" width="100%"/>
    &nbsp;
    <p></p>
    <img src="{%static 'Fase1/slider2.jpg' %}"  align="middle" width="35%"/>
	<img src="{%static 'Fase1/exampleb.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>
    <p></p>
    <img src="{%static 'Fase1/slider3.jpg' %}"  align="middle" width="35%"/>
	<img src="{%static 'Fase1/examplec.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>

    <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}