{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h2>ISTRUZIONI</h2>
<h3>Come le sua scelta incide sui suoi guadagni?</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<p>I suoi guadagni in questa fase dipendono da:</p>
	<ul>
    <p></p>
	<li>Come ha distribuito i suoi gettoni</li>
	<p></p>
	<li>La variazione di reddito che si verificherà nel 2022</li>
	<p></p>

</ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}