{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>LE VOSTRE PREFERENZE PER LE ALLOCAZIONI</h3>

{% endblock %}

{% block content %}

<div class="w3-container border-bottom border-top">
    <p></p>
   <ul>
       <li>Se ha assegnato i gettoni più di una volta, Le saranno mostrate tutte le Sue allocazioni.</li></p>
       <p> </p>
    <li><b>Per procedere alla quantificazione dei suoi guadagni, Le chiederemo di esprimere una preferenza da 1 a 10 per ciascuna delle sue allocazioni.</b></li>
    <p> </p>
       <li>Dove 1 significa che l'allocazione di gettoni rispecchia POCO la vostra opinione e 10 significa che rispecchia MOLTO la vostra opinione riguardo la futura variazione di reddito.</li>
       <p></p>
       <li>Per assegnare questo punteggio dovrete muovere il cursore posto accanto a ciascuna allocazione, come in figura.</li>
       <p></p>
</ul>
</div>
<div class="w3-container border-top">
    <p></p>
    &nbsp;	<img src="{%static 'Fase1/slideraa.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/examplea.jpg' %}"  align="middle" width="100%"/>
    &nbsp;
    <p></p>
    <img src="{%static 'Fase1/sliderbb.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/exampleb.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>
    <p></p>
    <img src="{%static 'Fase1/slidercc.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/examplec.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>
</div>
{% endblock %}