{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}

<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2022?</h3>
<p />
<div class="w3-container border-top border-bottom">
    <p></p>
<ul>
    <li> L'esatta variazione rispetto al reddito ad ettaro medio a fine 2022 è difficile da determinare in questo momento.</li>
    <p />
        <li> Ma ci serve un valore per portare a termine lo studio e quantificare i suoi guadagni.</li>
    <p />
</ul>
<p>Perciò:</p>
        <p><img src="{%static 'Fase2/bag3.jpg' %}"  align="right" height="250px" > </p>
    <ul>
	<li> La variazione di reddito ad ettaro da mele a fine anno 2022 verrà estratta da una urna in cui sono presenti 100 biglietti.</li>
<p></p>
   <li>Ogni biglietto riporta una delle 5 possibili variazione: -30% • -20%, -19% • -10%, -9% • 0%, +1% • +10%, +11% • +20%.</li>
        <p></p>
           <li>Al termine dello studio, se la Fase 1 sarà estratta per il pagamento, un biglietto verrà estratto per determinare
           quale sarà la variazione di reddito per il 2022.</li>
        <p></p>
        <li>Le proporzioni dell'urna sono in linea con la distribuzione di probabilità generata attraverso l'uso di modelli probabilisitci che simulano
        l'andamento futuro dei redditi da mele.</li>
        <p></p>
        <li>Questi modelli si basano sull'andamento dei redditi ad ettaro da mele negli anni passati e le opinioni fornite da esperti.</li>
    <p></p>
        <li>Le proporzioni dell'urna in questa Fase non Le sono rivelate.</li>
    </ul>
</div>
<p></p>
<div class="w3-container border-bottom">
    <h4>Gli esperti che sono stati consultati sono:</h4>
    <ul>
        <li> Co.Di.Pr.A.</li>
        <p></p>
        <li> Asnacodi Italia</li>
        <p></p>
        <li> Consorzio Melinda Sca</li>
        <p></p>



    </ul>
</div>
<p />

{% endblock %}