{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
LE SUE SCELTE
{% endblock %}

{% block content %}
<div class="w3-container border-top ">
<p></p>
	<p>Ora scelga come assegnare le 100 palline per costruire l'urna dalla quale verrà estratta una delle Scelte</p>
      <p></p>
        	<p>Dopo aver assegnato le palline clicchi su AVANTI per procedere.</p>
<p></p>
</div>
<link rel="stylesheet" href="{% static "global/empty2.css" %}">
<link rel="stylesheet" href="{% static "global/farmerchoices.css" %}">
<script type="text/javascript" src="{% static "global/farmerchoice_1.js" %}"></script>
<script type="text/javascript" src="{% static "global/farmerchoice_2.js" %}"></script>
<script type="text/javascript" src="{% static "global/farmerchoice_3.js" %}"></script>

<table class="table-bordered" style=" width: 80%; margin-left: 10%;" >
      <tr style="background-color:#ffb380">
            <td scope="col"  colspan="1" style="text-align:center"> Quante Palline per la Scelta 1 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Quante Palline per la Scelta 2 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Quante Palline per la Scelta 3 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Totale Palline Assegnate </td>
      </tr>
      <tr style="background-color:#ffe0cc">
            <td> <input class="pref_input" id="pref1" type="number" name="pref1" min="0" max="100" style="width: 50%; margin-left: 25%"> </td>
            <td> <input class="pref_input" id="pref2" type="number" name="pref2" min="0" max="100" style="width: 50%; margin-left: 25%"> </td>
            <td> <input class="pref_input" id="pref3" type="number" name="pref3" min="0" max="100" style="width: 50%; margin-left: 25%"> </td>
            <td> <span id="sum_token"  style="width: 50%; margin-left: 37%" ></span> su 100</td>
        </tr>
    </table>

<div id="error" class="hide"><b>La somma di gettoni deve essere uguale a 100</b></div>

<script>window.onload = init_sum_token();
function init_sum_token() {
  sum_token = document.getElementById("sum_token");
  pref1 = document.getElementById("pref1");
  pref2 = document.getElementById("pref2");
  pref3 = document.getElementById("pref3");


  document.querySelectorAll(".pref_input").forEach((item) => {
    item.addEventListener("change", (event) => {
      sum_prefs =
        get_input_value(pref1) +
        get_input_value(pref2) +
        get_input_value(pref3);
      let sum = parseFloat(sum_prefs);
      if (sum > 100 || sum < 100) {
        document.getElementById("btn_submit").className = "hide";
      }
      else {
        document.getElementById("btn_submit").className = "show";
    }
    })
  });

  document.querySelectorAll(".pref_input").forEach((item) => {
    item.addEventListener("change", (event) => {
      sum_prefs =
        get_input_value(pref1) +
        get_input_value(pref2) +
        get_input_value(pref3);
      let sum = parseFloat(sum_prefs);
      if (sum > 100 || sum < 100) {
        sum = sum_prefs;
        document.getElementById("error").className = "show";
      } else {
        document.getElementById("error").className = "hide";
      }
      sum_token.innerHTML = sum;
    });
  });
}
function get_input_value(input) {
  if (input.value == "") {
    return 0;
  } else {
    return parseFloat(input.value);
  }
  if (input.value > 100 || input.value < 100 ) {
    return "error";
  }
}
</script>
<div class="container" id="btn_submit">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

<p> <h4> SCELTA 1 </h4> </p>
<div id = "full_div_3" style=" height: 300px;"></div>

<p> <h4> SCELTA 2 </h4> </p>
<div id = "full_div_2" style=" height: 300px;" ></div>

<p> <h4> SCELTA 3 </h4> </p>
<div id = "full_div" style=" height: 300px;" ></div>

{% endblock %}

{% block scripts %}
<script>
let belief_farms = {{beliefs_3|json}};
farmerchoices.mkview(belief_farms, "full_div", results = 1, show_submit = 1);
</script>

<script>
let belief_farm = {{beliefs_2|json}};
farmerchoice.mkview(belief_farm, "full_div_2", results = 1, show_submit = 1);
</script>

<script>
let belief_farmer = {{beliefs|json}};
farmerschoice.mkview(belief_farmer, "full_div_3", results = 1, show_submit = 1);
</script>

{% endblock %}