{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>  QUALI SONO I SUOI GUADAGNI?  </h3>

{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">
<div class="w3-container border-top border-bottom">
	<p></p>
	<ul>
	<p></p>
	<li> Se il reddito/ettaro alla fine del 2022 sarà variato del +7%, allora i suoi guadagni saranno  11.56 € </li>
	<p></p>
	 <li>Invece, se il reddito/ettaro alla fine del 2022 sarà variato del -13%, i suoi guadagni saranno € 15.31 €</li>
	</ul>

		<img src="{%static 'Fase1/example2.jpg' %}"  align="middle" width="100%"/>
	<p></p>
</div>

<div class="container">

        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
