{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>COME ASSEGNARE LE PREFERENZE. ESEMPIO 2</h3>

{% endblock %}

{% block content %}
<div class="w3-container border-top">
    <p></p>
        <ul>
        <p></p>
	<li> Se per esempio, Lei ha espresso le seguenti preferenze: </li>
    <p> </p>
</ul>

</div>
<div class="w3-container ">
    <p></p>
    &nbsp;	<img src="{%static 'Fase1/slidera.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/examplea.jpg' %}"  align="middle" width="100%"/>
    &nbsp;
    <p></p>
    <img src="{%static 'Fase1/sliderb.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/exampleb.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>
    <p></p>
    <img src="{%static 'Fase1/sliderc.jpg' %}"  align="middle" width="50%"/>
	<img src="{%static 'Fase1/examplec.jpg' %}"  align="middle" width="100%"/>
        &nbsp;
        <p></p>
</div>
<p></p>

{% endblock %}