{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block content %}
<h2>ISTRUZIONI</h2>
<h4>Ripetere la scelta</h4>
<p />
<div class="w3-container border-bottom border-top">
    <p></p>
   <ul>
    <li>Dopo aver assegnato i gettoni, mostreremo le 3 scelte effettuate.</li>
    <p> </p>
    <li><b>Per procedere alla quantificazione dei suoi guadagni, dovrà assegnare un totale di 100 punti tra le scelte compiute.</b></li>
    <p> </p>
    <li>In base al punteggio assegnato, una delle 3 scelte verrà estratta e usata per la quantificazione dei suoi guadagni.</li>
     <p> </p>
</ul>
<h4 style="color:red">ATTENZIONE: COME ASSEGNARE I PUNTI</h4>
    <ul>
	<li> Vorrà assegnare più punti alla scelta che riflette meglio la sua opinione riguardo la variazione futura di reddito. </li>
    <p> </p>
    <li>Ricordi che assegnando un numero maggiore di punti ad una scelta, vi saranno più probabilità che questa venga estratta per la quantificazione dei suoi guadagni.</li>
</ul>
</div>
<p></p>

<p /n
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}