{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2> VEDIAMO ALCUNI ESEMPI </h2>

{% endblock %}
{% block content %}
<div class="w3-container border-top border-bottom">
	<p></p>
	<ul>
	<li> Se è certo che il reddito ad ettaro da mele nel 2022 varierà rispetto alla media tra +1% e +10%,
	allora vorrà assegnare buona parte dei gettoni all'intervallo <b> +1% • +10%</b> . </li>
	<p></p>
	<li> Potrebbe assegnare 100 gettoni a questo intervallo. </li>
	<p></p>
</ul>

<link rel="stylesheet" href="{% static "global/farmerchoice.css" %}">

		<img src="{%static 'Fase1/example1.jpg' %}"  align="middle" width="100%"/>
		<p></p>
</div>


{% endblock %}
