{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1);
        margin: 10px -10px 0px -10px;
      }
   </style>
{% endblock %}
{% block title %}
<h2>Le 12 situazioni scelta</h2>

{% endblock %}

{% block content %}
<div class="w3-container border-top">
<p></p>
    <p>• Qui vi presentiamo le 12 situazioni scelta</p>
    <p></p>
<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/choices.jpeg' %}"  align="middle" />

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:100%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
