{% extends "global/Page.html" %}
{% load staticfiles otree %}


{% block content %}


<h1> I Guadagni </h1>

<div class="w3-container border-top ">
    <p></p>
  <h5> Supponiamo che nella situazione 4 avete scelto l'Opzione B </h5>
    &nbsp;
    <ul>
  <li style="font-size:20px">Se la variazione di reddito rispetto la media del triennio 2019-2021 è pari ad -25%, allora otterrà <b> {{s1_b1_1|safe}} €</b></li>
      &nbsp;
      <p></p>
  <li style="font-size:20px">Se la variazione di reddito rispetto la media del triennio 2019-2021 è pari ad +5%, allora otterrà <b> {{s1_b1_4|safe}} €</b></li>
    <P></P>
</ul>
        	<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/example1b.jpg' %}"  align="middle"/>


</div>
&nbsp;

  </div>
        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
