{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h3>COME VENGONO STABILITE LE VARIAZIONI DI REDDITO PER IL 2022?</h3>
{% endblock %}

{% block content %}
<div class="w3-container border-top ">
    <p></p>
    <p><img src="{%static 'Fase2/bag3.jpg' %}"  align="right" height="220px" > </p>
    <p></p>
<ul>
    <li> Oggi non è possibile conoscere con esattezza quale sarà la variazione di reddito rispetto la media del triennio 2019-2021.</li>
    <p/>
    <li> Ma ci servono dei valori per portare a termine lo studio e procedere con la quantificazione dei suoi guadagni.</li>
    <p/>
</ul>
<p>Perciò:</p>
    <ul>
        <li>La variazione che si realizzerà sarà determinato dall’estrazione da un’urna contenente 100 biglietti.</li>
        <p></p>
                <li>Ogni biglietto riporta una delle 5 possibili variazione di reddito: -30% • -20%, -19% • -10%, -9% • 0%, +1% • +10%, +11% • +20%.</li>
        <p></p>
        <li>Le proporzioni dell’urna in questa Fase non Le sono rivelate.</li>
        <p></p>
        <li>Le proporzioni dell’urna si basano su previsioni fornite da esperti e sull'andamento dei redditi negli anni precedenti.</li>
</ul>
</div>
  <div class="w3-container border-top">
      <p></p>
    <h4>Gli esperti che sono stati consultati sono:</h4>
    <ul>
        <li> Co.Di.Pr.A.</li>
        <p></p>
        <li> Asnacodi Italia</li>
        <p></p>
        <li> Consorzio Melinda Sca</li>
        <p></p>
    </ul>
</div>
<p />

{% endblock %}