{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h2>IL FONDO IST MELE </h2>
{% endblock %}
{% block content %}

        	<link rel="stylesheet" href="{% static "global/empty3.css" %}">

<div class="w3-container border-top  ">
        <p></p>

    <p>Supponiamo che:</p>
    <ul style="align:justify">
        <li>Il contributo associativo del melicoltore sia di 435€/ha a cui si sommano 990€/ha di contributo pubblico</li>
        <p></p>
        <li>La riduzione su altri capitoli sia di 175€/ha. Quindi il costo effettivo per il melicoltore sia di 250€/ ha</li>
        <p></p>
        <li>Vi sia nel 2022 un calo del 40% del reddito rispetto al reddito medio (triennio precedente)</li>
        <p></p>
        <li>Il Fondo IST rimborsi il 70% del calo</li>
    </ul>

</div>
<p></p>

{% endblock %}
