
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>Il Fondo IST MELE </h1>
<h3>Come si accede all'IST Mele</h3>
<p />

<div class="w3-container border-top border-bottom">

    <ul style="text-align: justify">
        <p></p>
        <li>Si accede alla copertura mutualistica del Fondo IST versando:</li>
            <p></p>
            <li>La quota di adesione al Fondo pari a € 10 annuali.</li>
            <p></p>
            <li>Il contributo associativo per la copertura mutualistica la cui entità viene determinata di anno in anno.</li>
            <p></p>
            <li> Al contributo associativo annuale versato dal melicoltore si aggiunge una quota di contribuzione pubblica
            (Comunità Europea) pari al 70% del totale.</li>
            <p></p>
            <li>Quindi per ogni  suo 1 € di quota versata si aggiungono 2,33 € di contributo pubblico europeo.</li>
      </ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
