4
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>Il Fondo IST MELE </h1>
<p />

<div class="w3-container border-top ">
        <p></p>

    <p>Supponiamo che:</p>
    <ul style="align:justify">
        <li>Il contributo associativo del melicoltore sia di 435€/ha a cui si sommano 990€/ha di contributo pubblico</li>
        <p></p>
        <li>La riduzione su altri capitoli sia di 175€/ha. Quindi il costo effettivo per il melicoltore sia di 250€/ ha</li>
        <p></p>
        <li>Vi sia nel 2022 un calo del 40% del reddito rispetto al reddito medio (triennio precedente)</li>
        <p></p>
        <li>Il Fondo IST rimborsi il 70% del calo</li>
    </ul>
     <table class="table" style="width:100%; border-color:#FF9900">
        <tr style="background-color: #ffe0cc">
            <th scope="col"  colspan="1" style="text-align:left"> A. Reddito medio/ettaro </th>
            <td scope="col"  colspan="2" style="text-align:right"> 22371.24 €/ettaro </td>
            </tr>
          <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left"> B. Reddito/ettaro 2022 </th>
            <td scope="col"  colspan="2" style="text-align:right"> 13422.74 €/ettaro </td>
            </tr>
         <tr style="background-color:#ffe0cc">
            <th scope="col"  colspan="1" style="text-align:left"> Calo (A-B)/A</th>
            <td scope="col"  colspan="2" style="text-align:right"> 40% </td>
        </tr>
         <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left"> C. Perdita/ettaro</th>
            <td scope="col"  colspan="2" style="text-align:right"> 8948.49 €/ettaro</td>
        </tr>
         <tr style="background-color:white">
            <td scope="col"  colspan="1" style="text-align:center"> </td>
            <th scope="col"  colspan="1" style="text-align:center"> CON IST </th>
            <th scope="col"  colspan="1" style="text-align:center"> SENZA IST</th>
        </tr>
         <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left"> D. Costo IST/ettaro </th>
            <td scope="col"  colspan="1" style="text-align:center"> - 250 €/ettaro </td>
            <td scope="col"  colspan="1" style="text-align:center"> 0 €</td>
        </tr>
         <tr style="background-color:#ffe0cc">
            <th scope="col"  colspan="1" style="text-align:left"> E. Rimborso (70%)  </th>
            <td scope="col"  colspan="1" style="text-align:center">  6263.95 €/ettaro </td>
            <td scope="col"  colspan="1" style="text-align:center">  0 €</td>

        </tr>
         <tr style="background-color:#fdc5a1">
            <th scope="col"  colspan="1" style="text-align:left"> Reddito/ ettaro Finale  </th>
            <td scope="col"  colspan="1" style="text-align:center"> 19436,69 €/ettaro </td>
            <td scope="col"  colspan="1" style="text-align:center"> 13422.74 €/ettaro</td>
        </tr>
    </table>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
