{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block title %}
<h3>UN ESEMPIO DI SITUAZIONE SCELTA</h3>
{% endblock %}

{% block content %}

<div class="w3-container border-top ">
  <p></p>
  </div>
<p></p>

    	<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/mpl3.jpg' %}"  align="middle" width="100%"/>

<p></p>
<p>• Ai fini del calcolo dei possibili redditi per il 2022 è scelto il valore intermedio di ogni intervallo.</p>
<p></p>
<p>• Ad esempio per l'intervallo -30% • -20%, è stato usato il -25%</p>
<p></p>
<p>• Sotto ogni valore di reddito è riportata la differenza tra il reddito nel caso di scelta dell' Opzione A e il reddito nel caso di scelta dell' Opzione B. </p>
<p></p>
<p>• Ai fini del pagamento, il risultato ottenuto sarà convertito nel seguente modo: <b> 1.000 € corrispondono a 1.06 €</b></p>
</div>






{% endblock %} -->
