{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1);
        margin: 10px -10px 0px -10px;
      }
   </style>
{% endblock %}
{% block title %}
<h3>LE 12 SITUAZIONI SCELTA</h3>
{% endblock %}


{% block content %}

<div class="w3-container border-top">
<p></p>
    <p>• Qui Le presentiamo le 12 situazioni scelta</p>
    <p></p>
<link rel="stylesheet" href="{% static "global/empty1.css" %}">
    	<img src="{%static 'Fase2/choices.jpeg' %}"  align="middle" />

</div>


{% endblock %} -->
