{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<p></p>
    <h1>FASE 2 ISTRUZIONI</h1>
<h3>I GUADAGNI</h3>

    <div class="w3-container border-top">
        <p></p>
    <p><img src="{%static 'Fase2/bag2.jpg' %}"  align="left" height="350px"> </p>
    <ul>
    <p></p>
        <p>&nbsp;</p>
                <p>&nbsp;</p>
      <li>Ad esempio può essere estratta la Situazione N 4.</li>
        <p></p>
    </ul>
    </div>
    <p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>
        	</div>
        </div>

{% endblock %} -->