{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
<h3>LE SUE SCELTE RIGUARDO EVENTI INCERTI</h3>
{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
<p></p>
    <p>La Fase 2 prevede una serie di 12 situazioni di scelta tra due opzioni A e B. </p>
    <p></p>
    <p><b>Opzione A</b> :</p>
      <ul>
        <li><b>ADERIRE</b> oggi (Gennaio 2022) alla copertura mutualistica annuale del Fondo IST.</li>
      </ul>
    <p><b>Opzione B</b> :</p>
      <ul>
        <li><b>NON-ADERIRE</b> oggi (Gennaio 2022) alla copertura mutualistica annuale del Fondo IST.</li>
      </ul>
    &nbsp;
  <p> Nelle Scelte che Le verrano presentate varierà la quota fissa € ad ettaro di adesione al Fondo IST.</p>

</div>
<p></p>
{% endblock %}
