{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
{% endblock %}

{% block content %}
<h1 style="text-align:center">FASE 2 </h1>
<h3 style="text-align:center"> ORA PROCEDEREMO CON LE SUE SCELTE </h3>
<p />

<ul>
	<p></p>
	<li>Ricordi che solo una delle 10 situazioni verrà estratta e usata per la quantificazione dei suoi guadagni in nella Fase 2.</li>
	<p></p>
	<li>Il reddito ottenuto dalla sua scelta sarà convertito ai fini del pagamento nel seguente modo:</li>
</ul>
<h4 style="text-align:center"> €1.000 corrispondono a 0.93€</h4>

<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>


{% endblock %}

