{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
ESTRAZIONE FINALE
{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
    <p></p>
<h3 style="text-align:center"> <b> Congratulazioni Lei è il giocatore <span style="color:red;"># {{id}}</span> ed è stato estratto per ricevere il pagamento aggiuntivo </b> </h3>
<p></p>
<h3 style="text-align:center"> <b> La Fase estratta per il pagamento aggiuntivo è la <span style="color:red;"># {{app}} </span> </b> </h3>
    <p></p>
</div>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>
{% endblock %}
