{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
BENVENUTO
{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
    <p></p>
<ul>
    <li> La ringraziamo per aver accettato di partecipare allo studio di oggi. </li>
    <p />
    <li> Lo studio vuole indagare le scelte e le opinioni personali dei melicoltori Trentini riguardo al Fondo IST Mele e i redditi da mele.</li>
    <p />
    <li> Lo studio è composto di 3 Fasi durante le quali Lei dovrà compiere delle scelte che le daranno la possibilità di guadagnare delle somme di denaro. La preghiamo dunque di fare attenzione alle istruzioni.
</li>
    <p />
    <li>Alla fine dello studio è previsto un breve questionario.</li>
    <p></p>
    <li> Siamo interessati alle sue opinioni e preferenze personali. Non ci sono risposte giuste o sbagliate.
    <p />
    <li>Le ricordiamo che tutte le informazioni che condividerà nello studio saranno completamente anonime.</li>
    <p />
    <li> Per proseguire alla pagina successiva durante lo studio può cliccare sul bottone Blu in basso (AVANTI)</li>
</ul>
</div>
<p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}