{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
FASI DELLO STUDIO
{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
<p></p>
    <p>Lo studio di oggi è composto da:</p>
<ul>
    <li> <b>Fase 1</b>: Le sue opinioni riguardo ai futuri redditi per ettaro da mele</li>
    <p />
    <li> <b>Fase 2</b>: Le sue scelte riguardo eventi incerti</li>
    <p />
    <li> <b>Fase 3</b>: Le sue scelte riguardo eventi rischiosi</li>
    <p />
    <li> <b>Questionario</b> riguardo le sue caratteristiche personali e le sue attività legate alla produzione di mele.</li>
</ul>
</div>
    <p />
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}