{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}
<h1> Le Scelte </h1>
<link rel="stylesheet" href="{% static "global/empty1.css" %}">

<div class="w3-container border-top ">
  <p></p>
  <ul>
    <p></p>
  <li>Anche in questo caso vi sono 10 situazioni di scelta.</li>
    <P></P>
  <li align = "justify"> Le verrà chiesto di effettuare delle scelte tra Opzione A e Opzione B. </li>

  </div>
<p></p>
<table class="table-bordered" style="width : 100%; font-size: 77%">
<thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col" colspan="6" style="text-align:center">A</th>
            <td scope="col" style="text-align:center; width: 1%"></td>
    <th scope="col" colspan="6"  style="text-align:center">B</th>
  </tr>
</thead>
  <thead>
<tr>
    <td scope="col"></td>
    <td scope="col" colspan="1" style="text-align:center; width: 5%"> Quota €/ettaro IST </td>
    <th scope="col" colspan="6" style="text-align:center; width : 45%"> ADERIRE ALLA COPERTURA MUTUALISTICA (RIMBORSO 70%) </th>
    <td scope="col" style="text-align:center; width: 1%"></td>
    <th scope="col" colspan="6"  style="text-align:center;width : 45%">NON-ADERIRE ALLA COPERTURA MUTUALISTICA </th>
  </tr>
</thead>
<tr>
    <td rowspan="2"></td>
    <td rowspan="2"></td>
    <th colspan="6" scope="col" style="text-align:center;">Variazione  reddito </th>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <th colspan="6" scope="col" style="text-align:center;">Variazione  reddito </th>
</tr>
      <tr> <th colspan="1" scope="col" style="text-align:center;">-{{var1}}% • -{{var11}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> -{{var2}}% • -{{var22}}%</th>
    <th scope="col" colspan="1" style="text-align:center;">-{{var3}}% • {{var33}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var4}}% • +{{var44}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var5}}% • +{{var55}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var6}}% • +{{var66}}%</th>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <th colspan="1" scope="col" style="text-align:center;"> -{{var1}}% • -{{var11}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> -{{var2}}% • -{{var22}}%</th>
    <th scope="col" colspan="1" style="text-align:center;">-{{var3}}% • {{var33}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var4}}% • +{{var44}}%</th>
    <th scope="col" colspan="1" style="text-align:center;"> +{{var5}}% • +{{var55}}%</th>
    <th scope="col" colspan="1" style="text-align:center;">+{{var6}}% • +{{var66}}%</th></tr>
  <tr style="font-size:95%">
    <td></td>
    <td></td>
    <th colspan="1" scope="col" style="text-align:center;">{{prb1}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb2}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb3}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb4}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb5}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb6}}%</th>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <th colspan="1" scope="col" style="text-align:center;">{{prb1}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb2}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb3}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb4}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb5}}%</th>
    <th colspan="1" scope="col" style="text-align:center;">{{prb6}}%</th>
</tr>
  <!-- Row 4 -->
  <tr>
    <th rowspan="2" scope="row">4</th>
    <td rowspan="2" style="text-align:center; horizontal align: middle"> €{{ist4}}</td>
    <td style="text-align:center; background-color:#FA8072; horizontal align: middle; background-color:lightgreen"> €{{rs1_a1_4|safe}}  </td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_a2_4|safe}}</td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_a3_4|safe}}  </td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_a4_4|safe}}</td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_a5_4|safe}}  </td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_a6_4|safe}}</td>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <td style="text-align:center; background-color:#FA8072; background-color:#FA8072"> €{{rs1_b1_1|safe}}</td>
    <td style="text-align:center;background-color:lightgreen"> €{{rs1_b1_2|safe}} </td>
    <td style="text-align:center;background-color:lightgreen"> €{{rs1_b1_3|safe}}</td>
    <td style="text-align:center;background-color:lightgreen"> €{{rs1_b1_4|safe}} </td>
    <td style="text-align:center;background-color:lightgreen"> €{{rs1_b1_5|safe}}</td>
    <td style="text-align:center;background-color:lightgreen"> €{{rs1_b1_6|safe}} </td>
  </tr>
    <tr>
    <td style="text-align:center;background-color:lightgreen "> +{{rdiff_a}} </td>
    <td style="text-align:center; background-color:#FA8072 "> -{{rdiff_b}}</td>
    <td style="text-align:center; background-color:#FA8072"> -{{rdiff_b}}  </td>
    <td style="text-align:center;background-color:#FA8072"> -{{rdiff_b}}</td>
    <td style="text-align:center;  background-color:#FA8072"> -{{rdiff_b}}  </td>
    <td style="text-align:center;background-color:#FA8072"> -{{rdiff_b}}</td>
        <td scope="col" style="text-align:center; width: 1%"></td>
    <td style="text-align:center;background-color:#FA8072"> -{{rdiff_a}}</td>
    <td style="text-align:center;background-color:lightgreen"> +{{rdiff_b}} </td>
    <td style="text-align:center;background-color:lightgreen"> +{{rdiff_b}}</td>
    <td style="text-align:center;background-color:lightgreen"> +{{rdiff_b}} </td>
    <td style="text-align:center;background-color:lightgreen"> +{{rdiff_b}}</td>
    <td style="text-align:center;background-color:lightgreen"> +{{rdiff_b}} </td>
  </tr>
<p></p>
</table>



        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:100%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
