{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
   <style>
      input[type=radio] {
        transform: scale(1.5);
        margin: 12px -10px 0px -30px;
      }
   </style>
{% endblock %}

{% block content %}
<h1> Le Scelte </h1>
<link rel="stylesheet" href="{% static "global/empty1.css" %}">

<div class="w3-container border-top ">
  <p></p>
  <ul>
    <p></p>
  <li>Anche in questo caso vi sono 12 situazioni di scelta.</li>
    <P></P>
  <li align = "justify"> Le verrà chiesto di effettuare delle scelte tra Opzione A e Opzione B. </li>
  </ul>
  </div>
<p></p>
        	<img src="{%static 'Fase2/choiceex2.jpg' %}"  align="middle" />
<ul>
    <p></p>
  <li>Ora però le probabilità degli intervalli vi sono rivelate al momento di compiere la scelta</li>
    <P></P>
  </ul>



        <div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:100%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large">
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>



{% endblock %} -->
