
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>FASE 3 ISTRUZIONI</h1>
<h3>I GRUPPI DI SCELTE</h3>
<p />

<div class="w3-container border-top border-bottom">
    <table class="table" style="width:100%">
        <tr style="background-color:#ffb380">
            <th scope="col"  colspan="1" style="text-align:center ; width : 22%">  </th>
            <th scope="col"  colspan="2" style="text-align:center"> GRUPPO_1 </th>
            <th scope="col"  colspan="2" style="text-align:center"> GRUPPO_2 </th>
            <th scope="col"  colspan="2" style="text-align:center"> GRUPPO_3 </th>
        </tr>
        <tr style="background-color:#ffe0cc" >
            <td scope="col"  colspan="1" style="text-align:center">  </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 1 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 2 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 1 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 2 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 1 </td>
            <td scope="col"  colspan="1" style="text-align:center"> Scenario 2 </td>
        </tr>
        <tr style="background-color:#fdf5f0">
            <th scope="col"  colspan="1" style="text-align:center"> VARIAZIONE </th>
            <td scope="col"  colspan="1" style="text-align:center"> -{{var1}}% </td>
            <td scope="col"  colspan="1" style="text-align:center"> +{{var2}}% </td>
            <td scope="col"  colspan="1" style="text-align:center"> -{{var3}}% </td>
            <td scope="col"  colspan="1" style="text-align:center"> +{{var4}}% </td>
            <td scope="col"  colspan="1" style="text-align:center"> -{{var5}}% </td>
            <td scope="col"  colspan="1" style="text-align:center"> -{{var6}}% </td>
        </tr>
        <tr style="background-color:#ffe0cc">
            <th scope="col"  colspan="1" style="text-align:center"> PROBABILITÀ che avvenga la variazione </th>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb1}}/100 </td>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb2}}/100 </td>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb3}}/100 </td>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb4}}/100 </td>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb5}}/100 </td>
            <td scope="col"  colspan="1" style="text-align:center"> {{prb6}}/100</td>
        </tr>
    </table>
</div>
<div class="w3-container border-bottom">
    <p>RICORDATE CHE:</p>
    <p>Le proporzione dell'urna si basano su:</p>
    <ul>
        <li>Le previsioni di esperti riguardo i redditi ad ettaro da mele alla fine del 2022.</li>
        <P></P>
        <li>Il reddito medio rispetto agli ultimi 3 anni.</li>
    </ul>
    <p>Le prorzioni dell'urna saranno a vostra disposizione al momento di compiere le Scelte.</p>
</div>


<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
