
{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block content %}

<h1>ISTRUZIONI</h1>
<h3>LE SUE SCELTE RIGUARDO EVENTI RISCHIOSI</h3>
<p />

<div class="w3-container border-top border-bottom">
<p></p>
    <ul>
        <li>Ora però assumiamo di essere verso la fine del 2021 e quindi di essere in possesso di informazioni più
  affidabili rispetto alla possibile variazione di reddito nel 2022.</li>
     <p> </p>
        <li>La differenza rispetto alla Fase 2 è che ora le proporzioni dell'urna sono a vostra disposizione
    al momento di compiere le scelte tra Opzione A e Opzione B.</li>
   </ul>
</div>
<p></p>
<div class="container">
        	<div class="row">
        		&nbsp;
        	</div>
        	<div class="row" style="padding-left:95%;">
        		<div class="col-md-10">

        		</div>
        		<div class="col-md-2">
              <button name="btn_submit" value="True" class="btn btn-primary btn-large" >
                  <span style="font-size:12pt">Avanti</span>
             </button>
        		</div>

        	</div>
        </div>

{% endblock %}
