{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
<h2>METODO DI PAGAMENTO</h2>
{% endblock %}

{% block content %}
<div class="w3-container border-top border-bottom">
<p></p>
<ul>
    <p/>
    <li> In ciascuna delle fasi dello studio avrà la possibilità di guadagnare un compenso ipotetico di <b> 25 €</b>.</li>
    <p />
    <li> <b> Solo una delle 3 Fasi verrà estratta in modo casuale e usata per determinare il suo compenso.
        Questa estrazione avverrà alla fine dello studio</b>.</li>
    <p/>

</ul>
</div>
<p />

{% endblock %}